.main-layout {
  display: grid;
  grid-template-columns: minmax(40px, auto)
    minmax(auto, 1200px) minmax(40px, auto);
}

.main-layout >* {
  grid-column: 2;
}

.main-layout>*.full {
  grid-column: 1 /-1;
}

.inner-layout{
  display: grid;
  grid-template-columns: .3fr 1fr .3fr
}
.inner-layout >*{
  grid-column: 2;
}